.heading {
  font-size: 30px;
  font-style: italic;
}

* {
  color: white;
  font-family: "Lora";
}

body {
  background-color: black;
}

a.box-link {
  display: inline-block;
  padding: 12px 12px;
  background: #191919;
  border-radius: 12px;
  text-decoration: none;
  box-shadow: 0 4px 16px rgba(78, 84, 200, 0.2);
  transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
  letter-spacing: 1px;
}

a.box-link:hover, a.box-link:focus {
  text-decoration: underline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.rocket_background{
  margin-top: 3cm;
  border-radius: 12px;
  background-color: #191919;
  display:flex;                 
  justify-content:space-between;              
}

.rocket{
  width:10%;
  cursor:pointer;              
}

